{
  "trailingComma": "es5",
  "overrides": [
    {
      "files": ["*.svelte", "*.md", "*.mdx"],
      "options": {
        "proseWrap": "always"
      }
    }
  ],
  "plugins": ["prettier-plugin-svelte"]
}
